(
    creation_location: (
        line: 10,
        column: 18,
        file: "demo/src/blueprint.rs",
    ),
    components: [
        Constructor((
            constructor: (
                callable: (
                    registered_at: "pavex",
                    import_path: "pavex::request::path::PathParams::extract",
                ),
                location: (
                    line: 105,
                    column: 9,
                    file: "/Users/karlenkelmann/.cargo/registry/src/index.crates.io-6f17d22bba15001f/pavex-0.1.16/src/request/path/path_params.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: "pavex",
                    import_path: "pavex::request::path::errors::ExtractPathParamsError::into_response",
                ),
                location: (
                    line: 109,
                    column: 10,
                    file: "/Users/karlenkelmann/.cargo/registry/src/index.crates.io-6f17d22bba15001f/pavex-0.1.16/src/request/path/path_params.rs",
                ),
            )),
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: "pavex",
                    import_path: "pavex::request::query::QueryParams::extract",
                ),
                location: (
                    line: 70,
                    column: 9,
                    file: "/Users/karlenkelmann/.cargo/registry/src/index.crates.io-6f17d22bba15001f/pavex-0.1.16/src/request/query/query_params.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: "pavex",
                    import_path: "pavex::request::query::errors::ExtractQueryParamsError::into_response",
                ),
                location: (
                    line: 74,
                    column: 10,
                    file: "/Users/karlenkelmann/.cargo/registry/src/index.crates.io-6f17d22bba15001f/pavex-0.1.16/src/request/query/query_params.rs",
                ),
            )),
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: "pavex",
                    import_path: "pavex::request::body::JsonBody::extract",
                ),
                location: (
                    line: 90,
                    column: 9,
                    file: "/Users/karlenkelmann/.cargo/registry/src/index.crates.io-6f17d22bba15001f/pavex-0.1.16/src/request/body/json.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: "pavex",
                    import_path: "pavex::request::body::errors::ExtractJsonBodyError::into_response",
                ),
                location: (
                    line: 94,
                    column: 10,
                    file: "/Users/karlenkelmann/.cargo/registry/src/index.crates.io-6f17d22bba15001f/pavex-0.1.16/src/request/body/json.rs",
                ),
            )),
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: "pavex",
                    import_path: "pavex::request::body::BufferedBody::extract",
                ),
                location: (
                    line: 89,
                    column: 9,
                    file: "/Users/karlenkelmann/.cargo/registry/src/index.crates.io-6f17d22bba15001f/pavex-0.1.16/src/request/body/buffered_body.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: "pavex",
                    import_path: "pavex::request::body::errors::ExtractBufferedBodyError::into_response",
                ),
                location: (
                    line: 93,
                    column: 10,
                    file: "/Users/karlenkelmann/.cargo/registry/src/index.crates.io-6f17d22bba15001f/pavex-0.1.16/src/request/body/buffered_body.rs",
                ),
            )),
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: "pavex",
                    import_path: "<pavex::request::body::BodySizeLimit as std::default::Default>::default",
                ),
                location: (
                    line: 30,
                    column: 9,
                    file: "/Users/karlenkelmann/.cargo/registry/src/index.crates.io-6f17d22bba15001f/pavex-0.1.16/src/request/body/limit.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: "demo",
                    import_path: "crate::telemetry::RootSpan::new",
                ),
                location: (
                    line: 37,
                    column: 8,
                    file: "demo/src/blueprint.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: Some(CloneIfNecessary),
            error_handler: None,
        )),
        WrappingMiddleware((
            middleware: (
                callable: (
                    registered_at: "demo",
                    import_path: "crate::telemetry::logger",
                ),
                location: (
                    line: 43,
                    column: 8,
                    file: "demo/src/blueprint.rs",
                ),
            ),
            error_handler: None,
        )),
        ErrorObserver((
            error_observer: (
                callable: (
                    registered_at: "demo",
                    import_path: "crate::telemetry::log_error",
                ),
                location: (
                    line: 44,
                    column: 8,
                    file: "demo/src/blueprint.rs",
                ),
            ),
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: "demo",
                    import_path: "crate::lifecycle::Lifecycle::startup",
                ),
                location: (
                    line: 14,
                    column: 8,
                    file: "demo/src/blueprint.rs",
                ),
            ),
            lifecycle: Singleton,
            cloning_strategy: None,
            error_handler: None,
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: "demo",
                    import_path: "crate::user_agent::UserAgent::extract",
                ),
                location: (
                    line: 18,
                    column: 8,
                    file: "demo/src/blueprint.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: "demo",
                    import_path: "crate::user_agent::invalid_user_agent",
                ),
                location: (
                    line: 22,
                    column: 6,
                    file: "demo/src/blueprint.rs",
                ),
            )),
        )),
        Constructor((
            constructor: (
                callable: (
                    registered_at: "demo",
                    import_path: "crate::repository::book::BookMemoryRepository::new",
                ),
                location: (
                    line: 23,
                    column: 8,
                    file: "demo/src/blueprint.rs",
                ),
            ),
            lifecycle: Singleton,
            cloning_strategy: None,
            error_handler: None,
        )),
        Route((
            path: "/api/greet/:name",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: "demo",
                    import_path: "crate::routes::greet::greet",
                ),
                location: (
                    line: 28,
                    column: 8,
                    file: "demo/src/blueprint.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/api/ping",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: "demo",
                    import_path: "crate::routes::status::ping",
                ),
                location: (
                    line: 29,
                    column: 8,
                    file: "demo/src/blueprint.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/api/books",
            method_guard: Some([
                "POST",
            ]),
            request_handler: (
                callable: (
                    registered_at: "demo",
                    import_path: "crate::routes::books::save",
                ),
                location: (
                    line: 30,
                    column: 8,
                    file: "demo/src/blueprint.rs",
                ),
            ),
            error_handler: None,
        )),
        Route((
            path: "/api/books/:id",
            method_guard: Some([
                "GET",
            ]),
            request_handler: (
                callable: (
                    registered_at: "demo",
                    import_path: "crate::routes::books::get_by_id",
                ),
                location: (
                    line: 31,
                    column: 8,
                    file: "demo/src/blueprint.rs",
                ),
            ),
            error_handler: None,
        )),
    ],
)